{% load static %}
<div class="toast-container text-white  position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true"
        data-bs-autohide="false">
        <div class="toast-header">
            <img src="{% static 'images/logo.png' %}" style="width: 20px" class="rounded me-2" alt="..." />
            <strong class="me-auto">Car has been Booked</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            We will reach you soon. Please contact at our WhatsApp number 03004851598 if needed any help.
        </div>
    </div>
</div>