<div id="login-reg">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-secondary fw-bold" id="exampleModalLabel">Login into your Account</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="container">
                            <input type="text" placeholder="Username or Customer ID" class="form-control mb-3" name=""
                                required>
                            <input type="password" placeholder="Password" class="form-control mb-3" name="" required>
                            <div class="d-flex justify-content-end mb-2">
                                <a href="" class="fw-bold">Forget Password?</a>
                            </div>
                            <a href=""><button class="btn-car col-12">Login</button></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--register Modal -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-secondary fw-bold" id="exampleModalLabel">Register your Account</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="container">
                            <input type="text" placeholder="Username" class="form-control mb-3" name="" required>
                            <input type="email" placeholder="your-email@.com" class="form-control mb-3" name=""
                                required>
                            <input type="password" placeholder="Create Password" class="form-control mb-3" name=""
                                required>
                            <input type="password" placeholder="Confirm Password" class="form-control mb-3" name=""
                                required>
                            <a href=""><button class="btn-car col-12">Create Account</button></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>